*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerIcon{
    width: 25px;
}

body{
    background-color: #474A67;
}

header {
    height: 50px;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 10px;
}



.startingTitle{
    text-align: center;
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 45px;
}

.startingTitle div{
    font-family: 'Londrina Solid', sans-serif;
    font-weight: 900;
    line-height: 130px;
    font-size: 130px;
    background-image: linear-gradient(180deg, #FFFFFF 10%, #FFFFFF 10%, #FF8C05 100%);
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text;
    color: transparent;
    text-fill-color: transparent; 
}

.play-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#play-button{
    font-family: 'Londrina Solid', sans-serif;
    padding: 1px 10px 1px 10px;
    width: 150px;
    height: 50px ;
    font-size: 40px;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    background-color: #FF0000;
    color: #FFFFFF;
    transition: background 200ms ease-in-out;
}

#play-button:hover{
    background-color: #FFFFFF;
    color: #FF0000;
}

.player-box{
    display: flex;
    gap:20px;
    align-items: center;
    align-self: flex-start;
    margin-top: 30px;
}

#p1-avatar, #p2-avatar{
    background-color: #8877;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 20px;
    font-weight: 700;
}

#p1-name, #p2-name{
    background-color: #8877;
    padding: 5px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 20px;
}

.gameboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 150px); 
    margin-bottom: 50px;
}

.gameboard-grid div {
    width: 150px; 
    height: 150px;
    background-color: lightgray; 
    border: 1px solid gray; 
}

#upper-left{
    border-top-left-radius: 5px;
}

#upper-right{
    border-top-right-radius: 5px;
}

#lower-left{
    border-bottom-left-radius: 5px;
}

#lower-right{
    border-bottom-right-radius: 5px;
}

.game-box{
    display: none;
    justify-content: space-around;
    padding-left:  50px;
    padding-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#status{
    font-size: 25px;
    font-weight: 700;
    background-color: #8877;
    width: 150px;
    text-align: center;
    padding: 3px;
}
.gameboard-grid div img{
    width: 150px;
}

.unclickable{
    pointer-events: none
}