*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerIcon{
    width: 25px;
}

body{
    background-color: #474A67;
}

header {
    height: 65px;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 10px;
}

#marker-upper-right-X{
    position: absolute;
    top: 35%;
    right: 15%;
    width: 100px;
}

#marker-upper-right-O{
    position: absolute;
    top: 15%;
    right: 30%;
    width: 100px;
}

#marker-upper-left-O{
    position: absolute;
    top: 25%;
    left: 30%;
    width: 30px;
}

#marker-lower-left-O{
    position: absolute;
    top: 70%;
    left: 25%;
    width: 70px;
}



#marker-lower-right-X{
    position: absolute;
    top: 75%;
    right: 25%;
    width: 50px;
}


#marker-upper-left-X{
    position: absolute;
    top: 25%;
    left: 15%;
    width: 60px;
}



.startingTitle{
    text-align: center;
    font-size: 100px;
    margin-top: 50px;
}

.startingTitle div{
    font-family: 'Londrina Solid', sans-serif;
    font-weight: 900;
    line-height: 130px;
    font-size: 110px;
    background-image: linear-gradient(180deg, #FFFFFF 10%, #FFFFFF 10%, #FF8C05 100%);
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text;
    color: transparent;
    text-fill-color: transparent; 
}

.play-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#play-button{
    font-family: 'Londrina Solid', sans-serif;
    padding: 1px 10px 1px 10px;
    width: 150px;
    height: 50px ;
    font-size: 40px;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    background-color: #FF0000;
    color: #FFFFFF;
    transition: background 200ms ease-in-out;
}

#play-button:hover{
    background-color: #FFFFFF;
    color: #FF0000;
}

.player-box{
    display: flex;
    gap:10px;
    align-items: center;
    align-self: flex-start;
    margin-top: 30px;
}

#p1-avatar, #p2-avatar{
    background-color: #FFC989;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 20px;
    color: #FF0000;
    font-family: 'Londrina Solid', sans-serif;
}

#p1-turn, #p2-turn{
    background: linear-gradient(90deg, #FFC887 0%, rgba(255, 200, 135, 0) 100%);
    font-family: 'Londrina Solid', sans-serif;
    color: #FFFFFF;
    padding: 3px;
    padding-left:25px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    box-sizing: border-box;
    font-size: 30px;
}

#p2-turn{
    background: linear-gradient(270deg, #FFC887 0%, rgba(217, 217, 217, 0) 100%);
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 25px;
}

.gameboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 150px); 
    margin-bottom: 50px;
    gap: 10px;
}

.gameboard-grid div {
    width: 150px; 
    height: 150px;
    background-color: #5E638B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.game-box{
    display: none;
    justify-content: space-around;
    padding-left:  50px;
    padding-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#status{
    font-size: 30px;
    font-weight: 700;
    background-color: #FFC887;
    color: #FF0000;
    font-family: 'Londrina Solid', sans-serif;
    width: 180px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}
.gameboard-grid div img{
    width: 140px;
    height: 140px;
}

.unclickable{
    pointer-events: none
}

.gameboard-grid div img[src=""] {
    display: none;
}